langfuse:

  langfuse:
    ingress:
      hosts:
      - host: langfuse.staging.globalnaturewatch.org
        paths:
        - path: /
          pathType: Prefix

  postgresql:
    host: zeno-db-staging.cv2oy6g4svaz.us-east-1.rds.amazonaws.com  

  s3:
    bucket: "langfuse-staging-bucket"

zeno:
  langfuse:
    host: langfuse.staging.globalnaturewatch.org


  api:
    host: api.staging.globalnaturewatch.org
    autoscaling:
      enabled: true
      minReplicas: 2
      maxReplicas: 5
      targetCPUUtilizationPercentage: 70
      targetMemoryUtilizationPercentage: 80
    resources:
      requests:
        cpu: "1000m"
        memory: "2Gi"
      limits:
        memory: "4Gi"
  env_config:
    LANGFUSE_HOST: https://langfuse.staging.globalnaturewatch.org
    EOAPI_BASE_URL: https://eoapi-cache-staging.globalnaturewatch.org
    DB_MAX_OVERFLOW: "100"

    # signup settings to duplicate production, these following lines can be removed
    # to go back to defaulting to private (defines in default values.yaml)
    ALLOW_PUBLIC_SIGNUPS: true
    ALLOW_ANONYMOUS_CHAT: false
    DOMAINS_ALLOWLIST: ""
    MAX_USER_SIGNUPS: 5000

  streamlit:
    host: streamlit.staging.globalnaturewatch.org
    env_config:
      API_BASE_URL: https://api.staging.globalnaturewatch.org
      LOCAL_API_BASE_URL: https://api.staging.globalnaturewatch.org
      STREAMLIT_URL: https://streamlit.staging.globalnaturewatch.org

  db_secrets:
    POSTGRES_HOST: zeno-db-staging.cv2oy6g4svaz.us-east-1.rds.amazonaws.com

kube-prometheus-stack:
  grafana:
    ingress:
      hosts:
        - grafana.staging.globalnaturewatch.org
      tls:
        - secretName: grafana-tls
          hosts:
            - grafana.staging.globalnaturewatch.org
